# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

/terraform/variables.tf

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

terraform/variables.tf


# VS Code 
.history
.vscode

test/.env
web/dexec.sh

.py_modules
*.Dockerfile
docker-compose.yml

build
dist
gui.spec

desco_products.json
gui.specs

/desktop/venv
/desktop/dist
/desktop/build
/desktop/temp

/mobile/venv
/mobile/dist
/mobile/build
/mobile/temp

/web/venv
/web/dist
/web/build
/web/temp


.idea
*.iml


# ignore all __pycache__ folders
**/__pycache__
.mypy_cache

# ignore all woo.sh files
**/woo.sh

.localenv

/h2oheating_be/
/coolcorp_be/
/vincipizzeria_nl/
/test/
/venv/
/H2oHeating/project-report.txt
