docker
flask
flask_swagger_ui
flask-restful
typer
kivy
kivymd
python-dotenv
requests
typing_extensions
woocommerce
opencv-python
flask_cors
toga
pygame
black
briefcase
flake8
pre-commit
pytest
toml
tox
